.ArticleSort {
    margin-bottom: 10px;
}

.sortWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.searchWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.searchCard {
    padding: 0 5px;
}

.searchInput {
    width: 100%;

    &:focus {
        font-weight: 500;
    }
}

.tabs {
    margin-top: 16px;
}
