.ArticleDetails {
    flex-grow: 1;
    width: "100%";
}

.avatar {
    margin: 0 auto;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 15px;
}

.skeletonsWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: "100%";
}

.articleInfo {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.block {
    margin-top: 16px;
}
