.Flex {
    display: flex;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

.alignCenter {
    align-items: center;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.positionRelative {
    position: relative;
}

.positionFixed {
    position: fixed;
}

.positionAbsolute {
    position: absolute;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap32 {
    gap: 32px;
}

.gap64 {
    gap: 64px;
}

.max {
    width: 100%;
}

.grow {
    flex-grow: 1;
}

.margin4 {
    margin: 4px;
}

.margin8 {
    margin: 8px;
}

.margin12 {
    margin: 12px;
}

.margin16 {
    margin: 16px;
}

.margin24 {
    margin: 24px;
}

.margin32 {
    margin: 32px;
}

.margin40 {
    margin: 40px;
}

.margin64 {
    margin: 64px;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexNoWrap {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 8px 0;
}

.flexWrapReverse {
    flex-wrap: wrap-reverse;
}
