.title {
    color: var(--primary-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .text {
        color: var(--error-light);
    }

    .title {
        color: var(--error-dark);
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.sizeS {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.sizeM {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.sizeL {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
