.AddCommentForm {
    display: flex;
    border: 1px solid var(--primary-color);
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.input {
    margin-right: 24px;
    flex-grow: 1;
}
