.dark {
    --bg-color: #212121;
    --inverted-bg-color: #4b4949;
    --primary-color: #e8a236;
    --secondary-color: #998e91;
    --inverted-primary-color: #59971c;
    --inverted-secondary-color: #411f0c;
}
