.app_dark_theme {
    --bg-color: rgb(33 33 33);
    --bg-opacity-color: rgb(33 33 33 / 5%);
    --inverted-bg-color: rgb(75 73 73);
    --primary-color: rgb(232 162 54);
    --primary-bg-color: rgb(232 162 54 / 20%);
    --secondary-color: rgb(153 142 145);
    --inverted-primary-color: rgb(89 151 28);
    --inverted-primary-bg-color: rgb(89 151 28 / 20%);
    --inverted-secondary-color: rgb(65 31 12);
    --modal-bg-color: rgb(56 47 66);
    --modal-bg-color-inverted: rgb(222 228 231);
    --skeleton-bg-color: rgb(75 74 74);
    --code-bg-color: rgb(59 59 59);
    --card-bg-color: rgb(80 80 80);
    --shadow-color: rgb(255 167 14);
    --listbox-color: rgb(33 28 37);
    --listbox-hover-color: rgb(224 174 107 / 43.8%);

    // in number format
    --skeleton-color: 51, 51, 51;
    --bg-num-color: 33 33 33;

    // redesigned
    --dark-bg-redesigned: #090F11;
    --bg-redesigned: #0C1214;
    --light-bg-redesigned: #151C1F;
    --text-redesigned: #DBDBDB;
    --hint-redesigned: #555;
    --cancel-redesigned: #D95757;
    --cancel-redesigned-opacity: rgba(217 87 87 / 33%);
    --save-redesigned: #6CD98B;
    --save-redesigned-opacity: rgb(108 217 139 / 33%);
    --icon-redesigned: #74A2B2;
    --icon-redesigned-opacity: rgba(116 162 178 / 33%);
    --accent-redesigned: #5ED3F3;

    // redesigned in number format
    --dark-bg-redesigned-number: 9, 15, 17;
    --light-bg-redesigned-number: 21, 28, 31;

}
