:root {
    --bg-color: #e3e3e3;
    --inverted-bg-color: #212121;
    --primary-color: #59971c;
    --secondary-color: #411f0c;
    --inverted-primary-color: #e8a236;
    --inverted-secondary-color: #998e91;
    --modal-bg-color: #dee4e7;
    --modal-bg-color-inverted: #382f42;
}
