.Icon {
    fill: var(--icon-redesigned);
}

.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hovered {
    .button &:hover {
        fill: var(--accent-redesigned);
        color: var(--accent-redesigned);
        stroke: var(--accent-redesigned);
    }
}