/* stylelint-disable color-function-notation */
.Skeleton {
    display: inline-block;
    height: 1em;
    position: relative;
    overflow: hidden;
    background-color: var(--dark-bg-redesigned-number);

    &::after {
        position: absolute;
        inset: 0;
        transform: translateX(-100%);
        background-image:
            linear-gradient(
                90deg,
                rgba(var(--light-bg-redesigned-number), 0) 0,
                rgba(var(--light-bg-redesigned-number), 0.2) 20%,
                rgba(var(--light-bg-redesigned-number), 0.5) 60%,
                rgba(var(--light-bg-redesigned-number), 0)
            );
        animation: shimmer 2s infinite;
        content: "";
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
}
