.MainLayout {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 'sidebar content rightBar';
    grid-template-columns: min-content 1fr 144px;
    overflow-y: auto;
}

.sidebar {
    grid-area: sidebar;
    padding: 32px;
    max-width: 284px;
}

.content {
    grid-area: content;
    max-width: 1300px;
    justify-self: center;
    padding: 32px;
    display: flex;
    width: 100%;
    height: 100vh;
}

.rightBar {
    grid-area: rightBar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightBar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.toolbar {
    height: 100%;
}
