.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-redesigned);
    border-radius: 34px;

    &:hover {
        color: var(--accent-redesigned);
    }
}


.addonLeft, .addonRight {
    display: flex;
}

.focused {
    border: 1px solid var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
        color: var(--accent-redesigned);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    background: none;

    &:hover,
    ::after {
        transition: 0.2s;
        color: var(--accent-redesigned);
    }
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;

    &:hover {
        border: none;
    }
}

.square {
    padding: 0;
}

.square.sizeM {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.sizeL {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.sizeXL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.sizeM {
    font: var(--font-m-redesigned);
}

.sizeL {
    font: var(--font-l-redesigned);
}

.sizeXL {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
    cursor: auto;

    &:hover {
        opacity: 0.5;
        cursor: auto;
    }
}
