.Navbar {
    width: "100%";
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.NavbarRedesigned {
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.controls {
    display: flex;
    gap: 16px;
    align-items: center;
}

.links,
.actions {
    margin-left: auto;
}

.appLink {
    margin-left: var(--sidebar-width);
}

.mainLink {
    margin-right: 15px;
}
