.Navbar {
    width: "100%";
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.controls {
    display: flex;
    gap: 16px;
    align-items: center;
}

.appLink {
    margin-left: var(--sidebar-width);
}

.mainLink {
    margin-right: 15px;
}
