$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
$error: #af0000;
$dark-red: #3d0000;

.InputWrapper {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 10px;
    width: 75%;
}

.InputAreaWrapper {
    position: relative;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: .5px solid var(--primary-color);
    border-radius: 16px;
}

.Label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    opacity: 0.65;
}

.Input {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: var(--primary-color);
    padding: 7px 5px;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .Label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.Input:focus {
    ~ .Label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    padding-top: 16px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

.readonly {
    opacity: 0.7;
}

.error {
    /* stylelint-disable-next-line no-descending-specificity */
    ~ .Label {
        color: $error;
    }

    border-width: 3px;
    border-image: linear-gradient(to right, $error, $dark-red);
    border-image-slice: 1;
    opacity: 0.65;
}

.error:focus {
    ~ .Label {
        color: $error;
    }

    border-width: 3px;
    border-image: linear-gradient(to right, $error, $dark-red);
    border-image-slice: 1;
    opacity: 1;
}

.errorText {
    color: var(--error-light);
    font-weight: 700;
    font-size: 10px;
}
