.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    margin-top: 16px;
}

.loading,
.error {
    height: 300px;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    width: 100%;
}
