.Dropdown {
    position: relative;
}

.btn {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.items {
    position: absolute;
    background: var(--card-bg-color);
    z-index: 999;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.item {
    padding: 8px 16px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    white-space: nowrap;
}

.active {
    background: var(--inverted-primary-bg-color);
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}
