.CommentCard {
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.CommentCardRedesigned {
    margin-top: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ownerInfo {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 8px;
}

.text {
    margin-top: 8px;
}
