.StickyContentLayout {
    display: grid;
    grid-template-areas:
        'left content right';
    grid-template-columns: min-content 1fr min-content;
    overflow-y: auto;
    gap: 24px;
}


.left {
    grid-area: left;
}

.content {
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding-right: 8px;
    width: 100%;
    overflow-y: auto;
}

.right{
    grid-area: right;
}

.left,
.right {
    position: sticky;
    height: fit-content;
}
